* text=auto

*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.prisma text eol=lf
*.sql text eol=lf
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ino text eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.zip binary
*.rar binary
